html, body {
    height: 100%;
    margin: 0;
}
body {
    overflow-x: hidden;
}

.bg-primary {
    background-color: #4D2855 !important;
}

.headLogo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block
}
@media screen and (max-width: 765px) {
    .headLogo {
        width: 50px;
        height: 50px;
    }
    
}

.title {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}

.shortDescription {
    font-size: 20px;
    color: #fff;
}

/* for button animation */
.btn {
    font-size: 25px;
    font-weight: bold;
}
.btn-animated {
    opacity: 0;
    transform: translateX(-150%);
    animation: slideIn 1s ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes heartbeat {
    0% {
        transform: translateX(0) scale(1);
    }

    14% {
        transform: translateX(0) scale(1.3);
    }

    28% {
        transform: translateX(0) scale(1);
    }

    42% {
        transform: translateX(0) scale(1.3);
    }

    70% {
        transform: translateX(0) scale(1);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}

/* for video */

.video {
    width: 100%;
    height: 400px;
}
@media screen and (max-width: 765px) {
    .video {
        width: 100%;
        height: 200px;
    }
    
}

.border-primary {
    border-color: #4D2855 !important;
}
.btn-primary {
    background-color: #4D2855 !important;
    border-color: #4D2855 !important;
}
.videoDescription {
    font-size: 25px;
    color: #4D2855;
    font-weight: bold;
}
.color-primary {
    color: #4D2855 !important;
}


/* regular price and sale price */
.regular-price {
    font-size: 2rem;
    color: #f8d7da;
    position: relative;
    margin-right: 15px;
    display: inline-block;
    animation: strikeAnim 2s linear infinite;
}

.regular-price::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -5%;
    width: 110%;
    height: 3px;
    background: red;
    transform: scaleX(0);
    transform-origin: left;
    animation: strikeLine 2s linear infinite;
}

/* Offer Price (highlight) */
.offer-price {
    font-size: 2rem;
    font-weight: bold;
    color: #ffeb3b;
    animation: pulseAnim 1.5s ease-in-out infinite;
}

/* Cross animation */
@keyframes strikeLine {
    0% { transform: scaleX(0); }
    50% { transform: scaleX(1); }
    100% { transform: scaleX(0); }
}

/* Flash animation for regular price text */
@keyframes strikeAnim {
    0%, 100% { color: #f8d7da; }
    50% { color: #ff4d4d; }
}

/* Pulse animation for offer price */
@keyframes pulseAnim {
    0%, 100% { transform: scale(1); color: #ffeb3b; }
    50% { transform: scale(1.2); color: #fff176; }
}